<div class="container">
    <div class="card">
        <div class="card-body ">
            <h4 class="card-title">About Me</h4>
            <div class="text">
              <p class="card-text">I'm a Frontend Web-Developer, Co-Founder of PathoDux, Design Enthusiast, and a BE Computer Engineer. As an Frontend developer, I have a deep understanding of the <b>Angular framework</b>  and its capabilities.</p>
                  <p class="card-text"> I have 2 years of experience in developing web applications and have honed my skills in Angular, HTML, CSS, and JavaScript. My experience has allowed me to create dynamic and visually appealing user interfaces that are both functional and aesthetically pleasing.
              I have a strong grasp of Angular architecture and am proficient in creating custom components, services, and directives to enhance the functionality of the application. I also have experience working with RESTful APIs and databases, and have a good understanding of Agile development methodologies</p>
              <p class="card-text">
                I am committed to writing clean, maintainable, and efficient code, and I have a strong eye for detail. I am always looking for ways to improve my skills and stay up-to-date with the latest developments in web development.
              </p>
              <p class="card-text">
                As an Angular developer, I have always been passionate about creating visually appealing and user-friendly web applications. That's why I have decided to expand my skills and knowledge by learning UI/UX design. I understand that great design is essential for creating a positive user experience and is a key factor in the success of any web application.
I am currently studying the principles of UI/UX design, including design theory, user research, prototyping, and testing. I have a good hands-on on design tools such as Figma, and Adobe XD, and how to use them to create wireframes, prototypes, and high-fidelity designs.</p>
            </div>


        </div>
        <div class="card-footer">
          <app-nav-footer></app-nav-footer>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col">
                    <h5 class="card-title ">Work Experience</h5>
                    <div class="data">
                      <div class="cards">
                        <span>Nov 2022  <small>to</small> Present</span>
                        <p class="company">Analyst (Software Engineer)</p>
                        <span class="position">Capgemini</span>
                    </div>
                        <div class="cards">
                            <span>Sep 2021  <small>to</small> Feb 2022</span>
                            <p class="company">Angular Developer</p>
                            <span class="position">Frshr Technology </span>
                            <div class="desc">
                               <ul>
                                   <li>Worked as an <b>Angular Developer</b> at Frshr Technology. </li>
                                   <li>Developed and maintained web applications using Angular Framework</li>
                                   <li>Collaborated with the team to implement new features and fix bugs</li>
                                   <li>Contributed to the design and implementation of the web application’s UI</li>
                               </ul>
                            </div>
                            <a href="https://drive.google.com/file/d/1rGFSWOU76ZiMPLqjO7-CmNKAfTCqoCiZ/view?usp=sharing" target="_blank">View Letter</a>
                        </div>
                        <div class="cards">
                            <span>May 2021 <small>to</small>  Present</span>
                            <p class="company">Co-Founder</p>
                            <p class="position">Pathodux.in</p>
                            <p class="desc">
                                 Founder of Pathodux.in an Educational web-app for new and experience software developer.
                            </p>
                        </div>
                        <div class="cards">
                            <span>Dec 2020  <small>to</small>  Jun 2021</span>
                            <p class="company"> QA Intern</p>
                            <span class="position">Embibe</span>
                            <div class="desc">
                                <ul>
                                    <li>Completed an internship as QA Engineer in Embibe.</li>
                                    <li>Collaborated with the development team to create and execute test cases.</li>
                                    <li>Assisted in the implementation of agile development methodologies</li>
                                    <li>Acquired skills in Testing and management using tools like JIRA.</li>
                                </ul>
                            </div>
                            <a href="https://drive.google.com/file/d/1aNipYNNljlRuYcibKOrFMZbtinMW_oEJ/view?usp=sharing" target="_blank">View Letter</a>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <h5 class="card-title ">Education</h5>
                    <div class="data">
                        <div class="cards">
                            <p class="position">Pursued BE Computer Engineer (2022) with 82.98%</p>
                            <p class="desc">
                                SSBT College of Engineering and Technology, Jalgaon
                            </p>
                        </div>
                        <div class="cards">
                            <p class="position">Passed HSC with 74.77%</p>
                            <p class="desc">
                                IQRA Shahin College, Jalgaon
                                <span> <a style="font-size: small;" href="https://drive.google.com/file/d/1Rdax6V1GXC-M_RYVBrUgWtwAPbqEOFhK/view?usp=sharing" target="_blank">View</a></span>
                            </p>
                        </div>
                        <div class="cards">
                            <p class="position">Passed SSC with 83%</p>
                            <p class="desc">
                                Vidya English Medium School, Jalgaon
                                <span><a  style="font-size: small;" href="https://drive.google.com/file/d/1XCIbuQUB8Dg8f4okGt1C9VEdoMmlIzcK/view?usp=sharing" target="_blank">View</a></span>
                            </p>
                        </div>
                    </div>
            </div>


        </div>

    </div>
</div>
