.card{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(18px);
    border: 2px solid rgba(168, 167, 238, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    height: 600px;
    width: 1300px;
    .card-title{
        padding:10px ;
        font-size: 40px;
    }
    .text{
        padding: 20px;
    }
    .card-text{
        
        width: auto;
        font-size: 20px;
        font-weight: bold;
    }
    .card-footer{
        text-align: center;
        border: none;
        background: none;
        .btn{
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
