<div class="container">
    <div class="card">
        <div class="card-body ">
            <h4 class="card-title">About Me</h4>
            <div class="text">
                <span><p class="card-text">I'm a Frontend Web-Developer, Co-Founder of PathoDux, and a BE Computer Science Student. I have good experience with Angular and UI Designing.</p>
                    <p class="card-text">Created an amazing project from Angular like Dashboard for pandemic diseases, using firebase for server, database, and hosting. A Food Charity App from Angular, Firebase, and PWA. A Learning (Educational) web app from Angular and Unity. </p>
                    <p class="card-text">I'm an experienced UI/UX developer with an experience in HTML5, CSS(Bootstrap), Javascript, and Typescript.</p>
                    <p class="card-text">I'm also pretty good with design an UI/UX for Web/ Mobile App. I have 1 Year of Experience in Figma and Adobe XD for Designing UI/UX for Web/Mobile App.
                    </p>
                    <p class="card-text">I also learned Python for web development(Django), and also create some fantastic projects like Voice assistant, Space Game. </p>
                    <p class="card-text">I have upto 5 months of experience in manual testing.</p></span>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn " [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
            <button class="btn " [routerLink]="['/skill']" routerLinkActive="router-link-active">Skills</button>
            <button class="btn " [routerLink]="['/project']" routerLinkActive="router-link-active">Projects</button>
            <button class="btn " [routerLink]="['/acheviements']" routerLinkActive="router-link-active">Achievement</button>
        </div>
    </div>
</div>
