<div class="container">
    <div class="card">
        <div class="card-body ">
            <h4 class="card-title">About Me</h4>
            <div class="text">
                <span><p class="card-text">I'm a Frontend Web-Developer, Co-Founder of PathoDux, and a BE Computer Science Student. I have good experience with Angular and UI Designing.</p>
                    <p class="card-text">Created an amazing project from Angular like Dashboard for pandemic diseases, using firebase for server, database, and hosting. A Food Charity App from Angular, Firebase, and PWA. A Learning (Educational) web app from Angular and Unity. </p>
                    <p class="card-text">I'm an experienced UI/UX developer with an experience in HTML5, CSS(Bootstrap), Javascript, and Typescript.</p>
                    <p class="card-text">I'm also pretty good with design an UI/UX for Web/ Mobile App. I have 1 Year of Experience in Figma and Adobe XD for Designing UI/UX for Web/Mobile App.
                    </p>
                    <p class="card-text">I also learned Python for web development(Django), and also create some fantastic projects like Voice assistant, Space Game. </p>
                    <p class="card-text">I have upto 5 months of experience in manual testing.</p></span>
            </div>
        </div>
        <div class="card-footer">
            <button class=" btn btn-nav " [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
            <button class= "btn btn-nav " [routerLink]="['/about']" routerLinkActive="router-link-active">About</button>
            <button class= "btn btn-nav " [routerLink]="['/skill']" routerLinkActive="router-link-active">Skills</button>
            <button class="btn btn-nav " [routerLink]="['/project']" routerLinkActive="router-link-active">Projects</button>
            <button class="btn btn-nav " [routerLink]="['/acheviements']" routerLinkActive="router-link-active">Achievement</button>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col">
                    <h5 class="card-title ">Work Experience</h5>
                    <div class="data">
                        <div class="cards">
                            <p>20-5-2021  to  Present</p>
                            <p class="company">Pathodux</p>
                            <p class="position">Co-Founder</p>
                            <p class="desc">
                                 Founder of Pathodux.in an Educational web-app for new and experience software developer.
                            </p>
                        </div>
                        <div class="cards">
                            <p>2-12-2020  to  30-6-2021</p>
                            <p class="company">Embibe</p>
                            <p class="position">QA Intern</p>
                            <p class="desc">
                                 I have completed an internship as QA Engineering in Embibe.
                                 I have tested many apps, web apps. I learned Black Box and White Box Testing, Segmentation Testing, and Unit Testing.
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="col">
                    <h5 class="card-title ">Education</h5>
                    <div class="data">
                        <div class="cards">
                            <p class="position">Pursuing BE Computer Science</p>
                            <p class="desc">
                                SSBT College of Engineering and Technology, Jalgaon
                            </p>
                        </div>
                        <div class="cards">
                            <p class="position">Passed HSC with 73%</p>
                            <p class="desc">
                                IQRA Shahin College, Jalgaon 
                            </p>
                        </div>
                        <div class="cards">
                            <p class="position">Passed SSC with 84%</p>
                            <p class="desc">
                                Vidya English Medium School, Jalgaon
                            </p>
                        </div>
                    </div>
            </div>
           
    
        </div>
       
    </div>
</div>
