<div class="container">
    <div class="card">
        <div class="card-body ">
            <h4 class="card-title">Achievements</h4>
            <div class="container rowed">
            <div class="row text-center">
                <div class="col">
                    <button class="btn btn-block select achieve" (click)="onAchieve()">
                    <img class="img-fluid achieves" src="../../assets/achieve.svg" alt="achieve" >
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-block select event" (click)="onEvent()">
                        <img class="img-fluid events" src="../../assets/Events.svg" alt="achieve" >
                    </button>
                </div>
            </div>
            </div>
        </div>
        <div class="card-footer">
            <button class=" btn btn-nav " [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
            <button class= "btn btn-nav " [routerLink]="['/about']" routerLinkActive="router-link-active">About</button>
            <button class= "btn btn-nav " [routerLink]="['/skill']" routerLinkActive="router-link-active">Skills</button>
            <button class="btn btn-nav " [routerLink]="['/project']" routerLinkActive="router-link-active">Projects</button>
            <button class="btn btn-nav " [routerLink]="['/acheviements']" routerLinkActive="router-link-active">Achievement</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="cards">
        <div class="card-body ">
            <h4 class="card-title">Achievements/Certificates</h4>
        </div>
    </div>
    </div>
<div class="container" id="test">
    <ng-container *ngFor="let items of listCertificate">
        <div class="card">
        <div class="card-body ">
            <div class="container">
                <div class="row">
                    <div class="col image">
                        <img class="set" [src]="items.url" alt="" height="420px"> 
                    </div>
                    <div class="col title">
                        <p class="Course-Name">{{items.Name}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ng-container>
    
</div>
<div class="container">
<div class="cards">
    <div class="card-body ">
        <h4 class="card-title">Events</h4>
    </div>
</div>
</div>
<div class="container">
    <ng-container *ngFor="let items of listEvents">
        <div class="card">
        <div class="card-body ">
            <div class="container">
                <div class="row">
                    
                    <div class="col title">
                        <p class="Course-Name">{{items.Name}}</p>
                    </div>
                    <div class="col image">
                        <img class="set" [src]="items.url" alt="" height="420px"> 
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ng-container>
    
</div>