.card{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(168, 167, 238, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    height: 600px;
    width: 1300px;
  .rowed{
      margin-top: 110px;
  }
    .select{
        border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(0, 110, 255), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
        width:500px;
        height: 200px;
        font-size: 35px;

    }

    .card-footer{
        text-align: center;
        border: none;
        background: none;
        .btn-nav{
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
.row{
    margin-top:35px;
}
.image{
    text-align: center;
    margin: 30px;
    .set{
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
}
.Course-Name{
    text-align: center;
    margin-top: 200px;
    
    font-size: 30px;
    padding: 20px;
}

.cards{
    text-align: center;
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(168, 167, 238, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    height: 80px;
}