
<div class="loop">
  <button class=" btn btn-nav " [routerLink]="['']"  routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Home</button>
  <button class="btn " [routerLink]="['/about']" routerLinkActive="router-link-active" >About</button>
  <button class="btn " [routerLink]="['/skill']" routerLinkActive="router-link-active">Skills</button>
  <button class="btn " [routerLink]="['/project']" routerLinkActive="router-link-active">Projects</button>
  <button class="btn " [routerLink]="['/acheviements']" routerLinkActive="router-link-active">Achievement</button>

</div>
