<div class="container">
  <div class="card card-main">
   
    <div class="card-body">
        <h4 class="card-title">Project</h4>
        <div class="container content-1">
            <div class="row ">
                <p class="card-text">Angular Projects</p>
                <div class="col text-center">
                    
                      <button class="btn btn-default" (click)="openPath()" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="patho" src="../../assets/pathodux-logo.svg" alt="" srcset="" width="250px" height="150px"><br>
                        <p class="title-text">PathoDux</p>
                        <p class="small">Click to view more About Pathodux</p>
                   </button>
                   
                
                  
                </div>
                <div class="col text-center">
                  <button class="btn btn-default" (click)="openPan()">
                    <img class="patho" src="../../assets/pandemics-dashboard.svg" alt="" srcset="" width="250px" height="150px"><br>
                    <p class="title-text">Pandemics Dashboard</p>
                    <p class="small">Click to view more About Pandemic Dashboard</p>
               </button>
                    
                </div>
                <div class="col text-center">
                  <button class="btn btn-default" (click)="openBread()">
                    <img class="patho" src="../../assets/bread.jpg" alt="" srcset="" width="250px" height="150px"><br>
                    <p class="title-text">BreadGo</p>
                    <p class="small">Click to view more About BreadGO</p>
               </button>
                </div>
            </div>
        
            <div class="row mt-3">
                <p class="card-text">UI/UX Designs</p>
                <div class="col-4 text-center">
                  <button class="btn btn-default" (click)="youtube()" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img class="patho" src="../../assets/youtube.PNG" alt="" srcset="" width="250px" height="150px"><br>
                    <p class="title-text">Youtube Music</p>
                    <p class="small">Click to view more About Youtube Music UI</p>
               </button>
            </div>
            <div class="col-4 text-center">
              <button class="btn btn-default" (click)="dashboardNeu()">
                <img class="patho" src="../../assets/neuDash.PNG" alt="" srcset="" width="250px" height="150px"><br>
                <p class="title-text">Neumorphic Dashboard</p>
                <p class="small">Click to view more About Neumorphic Dashboard UI</p>
           </button>
                
            </div>
            <div class="col-4 text-center">
              <button class="btn btn-default" (click)="onboard()">
                <img class="patho" src="../../assets/onboard.svg" alt="" srcset="" width="250px" height="150px"><br>
                <p class="title-text">Onboarding Animation UI/UX</p>
                <p class="small">Click to view more About Instagram Profile UI/UX</p>
           </button>
            </div>
            <div class="col-4 text-center">
              <button class="btn btn-default" (click)="gymUI()">
                <img class="patho" src="../../assets/gym.svg" alt="" srcset="" width="250px" height="150px"><br>
                <p class="title-text">Gym Web-App UI/UX</p>
                <p class="small">Click to view more About Gym Web-App UI/UX</p>
           </button>
            </div>
            <div class="col-4 text-center">
              <button class="btn btn-default" (click)="insta()">
                <img class="patho" src="../../assets/insta.svg" alt="" srcset="" width="250px" height="150px"><br>
                <p class="title-text">Instagram Profile UI/UX</p>
                <p class="small">Click to view more About Onboarding Animation</p>
           </button>
            </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
      <button class=" btn btn-nav " [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
      <button class= "btn btn-nav " [routerLink]="['/about']" routerLinkActive="router-link-active">About</button>
      <button class= "btn btn-nav " [routerLink]="['/skill']" routerLinkActive="router-link-active">Skills</button>
      <button class="btn btn-nav " [routerLink]="['/project']" routerLinkActive="router-link-active">Projects</button>
      <button class="btn btn-nav " [routerLink]="['/acheviements']" routerLinkActive="router-link-active">Achievement</button>
    </div>
</div>


<ng-template [ngIf]="patho" *ngFor="let items of listProjects">
  <div class="card card-project mb-5" >
   
    <div class="card-body ">
        <h4 class="card-title">{{items.Name}}</h4>
        <div class="container">
          <div class="row">
            <div class="col" >
              <img class="img-fluid proImage" [src]="items.image" alt="" >
            </div>
            <div class="col">
              <div class="desc text-center">
                {{items.desc}}
              </div>
            </div>
          </div>
           
           <!-- <img class="img-fluid proImage" [src]="items.imageBoard" alt=""  height="270px">
           <img class="img-fluid proImage" [src]="items.imageEnd" alt="" height="270px"> -->
        </div> 
        
        </div>

    <div class="card-footer">
      <div class="d-grid gap-2">
        <a class="btn link-btn" href="{{items.link}}" target="blank" type="button">Link</a>
      </div>
    </div>
</div>
</ng-template>
<div class="card head" >
  <div class="card-body text-center">
      <h4 class="card-title ">UI/UX Design</h4>
    </div>
</div>
<ng-container>
  <div class="card card-project mb-5" >
    <div class="card-body text-center">
        <h4 class="card-title text-start">Youtube Music UI</h4>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1250" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FfoZg9jmBDwkY4iQvK4Q53S%2FYoutube-Music" allowfullscreen></iframe>
       
      </div>
</div>
</ng-container>

<ng-container>
  <div class="card card-project mb-5" >
   
    <div class="card-body text-center">
        <h4 class="card-title text-start">Neumorphic Dashboard </h4>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1250" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FfhPnYoz2NaBcS5QittLAHs%2FNeumorphic-Dashboard-UI" allowfullscreen></iframe>
       
      </div>
</div>
</ng-container>
<ng-container>
  <div class="card card-project mb-5" >
   
    <div class="card-body text-center">
        <h4 class="card-title text-start">Onboarding Screen UI</h4>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1250" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F2qS8Us6bVdI6ct9JdI8qUT%2FOnboarding-Screen" allowfullscreen></iframe>
       
      </div>
</div>
</ng-container>
<ng-container>
  <div class="card card-project mb-5" >
   
    <div class="card-body text-center">
        <h4 class="card-title text-start">Gym Web-App UI/UX</h4>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1250" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FYzvGbLRXu6MVJeTOAOTXqX%2FGym-app" allowfullscreen></iframe>
       
      </div>
</div>
</ng-container>
<ng-container>
  <div class="card card-project mb-5" >
   
    <div class="card-body text-center">
        <h4 class="card-title text-start">Instagram UserProfile Page UI/UX</h4>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1250" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F1bY1XBSOafBJ4LvqtAvUVk%2FInstagram%3Fscaling%3Dscale-down%26page-id%3D0%253A1%26node-id%3D101%253A3" allowfullscreen></iframe>
       
      </div>
</div>
</ng-container>
</div>
