.card-main{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(168, 167, 238, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    height: 600px;
    width: 1300px;
    .card-title{
        font-size: 40px;
    }
   
    .card-text{
        font-size: 20px;
    }
    .title-text{
        font-size: 20px;
    }
    .small{
        font-size: 14px;
        margin-top: -15px;
    }
    .card-footer{
        text-align: center;
        border: none;
        background: none;
        .btn-nav{
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
        }
    }
    
}
//Scroll
.content-1{
    overflow-y: auto;
    min-height: 400px;
    max-height: 400px;
  
}


.col-3{
    margin-left: 80px;
}
.patho{
    border-radius: 20px;
}

.card-project{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(168, 167, 238, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    height: 600px;
    width: 1300px;
    .card-title{
        font-size: 40px;
    }
    img{
        border-radius:10px ;
    }
    .card-footer{
        text-align: center;
        border: none;
        background: none;
        
    }
    .proImage{
        margin: 5px;
    }
    .desc{
        margin: 05px;
        padding: 10px;
        font-size: 22px;
    }
    .link-btn{
        font-size: 20px;
        margin: 10px;
    }
    
}

.head{
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(168, 167, 238, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    height: 80px;
    width: 1300px;
    .card-title{
        font-size: 30px;
        font-weight: bold;
    }
}
@media screen and (max-width:1300px) {
    .card{
        height: auto;
        width: auto;
    }
    

}