/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
body{
  scroll-behavior: smooth;
    height: 100%;
    font-family: 'Assistant', sans-serif;
    background: linear-gradient(90deg, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%);
    background-image: url('../src/assets/Desktop.svg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  
}

*
::-webkit-scrollbar{
  width: 5px;
    background-color: rgba(0, 0, 0, 0);
}
  *::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(9, 13, 70);
    background: linear-gradient(85deg,#085fffde,#ffffffbd);
   border-bottom: .3px solid rgb(44, 41, 255);
  }
 