<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <img src="../assets/profile.jpeg" class="card-image rounded-circle" alt="" width="200px" height="200px">
            <h4 class="card-title">Mohammad Inshal Pinjari</h4>
            <p class="card-text">~Frontend Web-Developer</p>
            <p class="card-text">~UI/UX Designer</p>
            <p class="card-text">~Co-Founder of Pathodux</p>
            <p class="card-text">~BE Computer Science Student</p>
            <div class="media">
               <a type="button" href="mailto:mdinshal16@gamil.com" class="btn ">
                <i class="fab fa-google"></i>
               </a>
            <a type="button" href="https://github.com/Inshal07" target="blank" class="btn ">
                <i class="fab fa-github"></i>
            </a>
            <a type="button" href="https://www.linkedin.com/in/mohammad-inshal-pinjari-235545198/" target="blank" class="btn " >
                <i class="fab fa-linkedin"></i>
            </a>
            <a type="button" href="https://stackoverflow.com/users/13458013/inshalp" target="blank" class="btn " >
                <i class="fab fa-stack-overflow"></i>
            </a>
            </div>
        </div>
        <div class="card-footer">
          <app-nav-footer></app-nav-footer>
        </div>
    </div>
</div>
